{% extends "shuup/admin/base.jinja" %}

{% block content %}
<p>{% trans %}This version contains no information about transactions yet. Improvements are currently being developed..{% endtrans %}</p>

<p><small>{% trans %}Version:{% endtrans %} <strong>{{ VERSION }}</strong></small></p>
{% endblock %}
