<h4>{% trans %}Transactions{% endtrans %}</h4>

<hr>

{% set CieloTransactionStatus=cielo.CieloTransactionStatus %}
{% for transaction in cielo.transactions %}
    <dl class="dl-horizontal">
        <div id="transaction-{{ transaction.pk }}">
            {% include "cielo/admin/order_section_transaction_detail.jinja" with context %}
        </div>
    </dl>

    <hr>
{% endfor %}
