{% extends "shuup/front/base.jinja" %}

{% block title %}{% trans %}Redirecting..{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <div class="well text-center">
                <h2>{% trans %}Almost there..{% endtrans %}</h2>
                <div>{% trans %}You are beeing redirected to authentication page. <strong>Do not close this page</strong>.{% endtrans %}</div><div>{% trans url=redirect_url|default("", true) %}If it takes too long, you can always <a href="{{ url }}">click here</a>.{% endtrans %}</div>
                <div><li class="fa fa fa-spinner fa-spin fa-2x"></li></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        setTimeout(function(){
            window.location="{{ redirect_url }}"; 
        }, 5000);
    });
</script>
{% endblock %}